* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.about,
.products,
.edit,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.edit {
  background-image: url("./images/b2.jpg");
  opacity: 100;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 14px;
}

.edit-item {
  margin-top: 100px;
  height: 800px;
  width: 1000px;
  /* border: 1px solid greenyellow; */
}

.about {
  background-image: url("./images/b2.jpg");
  opacity: 100;
  background-position: center;
  display: block;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 20px;
}

.about > h2 {
  color: black;
  display: flex;
  margin-left: 5px;
  padding-top: 20px;
  padding-left: 40px;
  align-self: self-start;
}

.about > p {
  color: rgb(255, 251, 255);
  background: rgb(7, 7, 7, 0.5);
  margin: 40px;
  padding: 20px;
  font-size: larger;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 5px;
}

.products {
  background-image: url("./images/img-1.jpg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url("./images/img-8.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
